* {
    margin: 0px;
    padding: 0px;
}

.img-profile {
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

.category {
    margin-left: 15px;
    padding-top: 5px;
}
.category img {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content {
    width: 100%;
}

.img-article {
    margin-bottom: 40px;
    width: 100%;
    border-radius: 10px;
    height: 550px;
    background-size: cover;
    background-position: center;
}

.img-comment {
    width: 60px;
    height: 60px;
}

.text-comment {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px #a6a6a6 solid;
    margin-bottom: 15px;
    padding-top: 25px;
}

.btn-comment {
    background-color: #0a6ef6 !important;
    border-radius: 25px !important;
    color: white !important;
    width: 100px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-comment h3 {
    color: white;
}

.list-comment {
    width: 100%;
    height: 600px;
    overflow-x: hidden;
}

@media (max-width: 400px) {
    .img-article {
        height: 400px;
    }
    .img-comment {
        width: 50px;
        height: 50px;
    }
    .category img {
        width: 40px;
        height: 40px;
        padding: 6px;
        border-radius: 100px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .category {
        margin-left: 0px;
    }
}

@media (max-width: 800px) {
    .list-comment h5 {
        padding-left: 30px;
    }
    .date-comment {
        padding-left: 30px;
    }
}
